<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rocket.dream.shopping.dao.AddressMapper">
        <select id="findAddress" parameterType="com.rocket.dream.shopping.pojo.Address"
            resultType="com.rocket.dream.shopping.pojo.Address">
        SELECT * FROM sh_address WHERE userCode=#{userCode}

        <if test="addressId!=null and  addressId!=0">
            AND addressId=#{addressId}

        </if>

    </select>
    <delete id="deleteAddress" parameterType="com.rocket.dream.shopping.pojo.Address">
        delete from sh_address where addressId=#{addressId}
    </delete>
    <insert id="insertAddress" parameterType="com.rocket.dream.shopping.pojo.Address">
        INSERT INTO sh_address (`userCode`,`addressName`,`addressPhone`,`addressInfo`,`addressStatus`)
        VALUES(#{userCode},#{addressName},#{addressPhone},#{addressInfo},#{addressStatus})
    </insert>
    <update id="updateAddress" parameterType="com.rocket.dream.shopping.pojo.Address">
       update   sh_address set  `addressName`=#{addressName},`addressPhone`=#{addressPhone},`addressInfo`=#{addressInfo},addressStatus=#{addressStatus}
       where `addressId`=#{addressId}
    </update>
    <!--      判断是否有默认-->
    <select id="checkD" parameterType="com.rocket.dream.shopping.pojo.Address" resultType="int">
    SELECT COUNT(0) FROM sh_address WHERE addressStatus=0 AND userCode=#{userCode}
</select>
    
    
    <select id="selectAddress" parameterType="com.rocket.dream.shopping.pojo.Address" resultType="com.rocket.dream.shopping.pojo.Address">

  SELECT * FROM `sh_address`
  <where>
      <if test="userCode!=null">
          and userCode=#{userCode}
      </if>
      <if test="addressId!=null  and addressId!=0">
          and addressId=#{addressId}
      </if>
  </where>
  ORDER BY addressStatus
    </select>



    <select id="selectAddressByUserCodeAndStatus" parameterType="com.rocket.dream.shopping.pojo.Address" resultType="com.rocket.dream.shopping.pojo.Address">
        SELECT * FROM `sh_address`
        <where>
            <if test="userCode!=null">
            and userCode=#{userCode}
            </if>
            <if test="addressStatus!=null">
                and addressStatus=#{addressStatus}
            </if>
        </where>
        ORDER BY addressStatus
    </select>


    <select id="selectAddressById" parameterType="com.rocket.dream.shopping.pojo.Address" resultType="com.rocket.dream.shopping.pojo.Address">
        SELECT * FROM sh_address
WHERE addressId=#{addressId}
    </select>
    
    
    
</mapper>