<!DOCTYPE html>
<!--suppress ALL-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>个人设置</title>
    <link rel="icon" href="../img/logo.jpg" type="image/x-icon"/>
    <link rel="stylesheet" href="../css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../css/userhome.css"/>
    <link rel="stylesheet" href="../css/user.css"/>
    <!-- bootstrap -->
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <script type="text/javascript" src="../js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
</head>
<body>
<div class="pre-2" id="big_img">
    <img src="http://findfun.oss-cn-shanghai.aliyuncs.com/images/head_loading.gif"
         class="jcrop-preview jcrop_preview_s">
</div>
<div id="cover" style="min-height: 639px;">
    <div id="user_area">
        <div id="home_header">
            <a href="/static/goods/homeGoods">
                <h1 class="logo"></h1>
            </a>
            <a href="">
                <img src="../img/home_header.png" style="margin-left: 20px;">
            </a>
            <a href="">
                <div class="home"></div>
            </a>
        </div>
        <!--

            描述：左侧个人中心栏
        -->
        <div id="user_nav">
            <div class="user_info">
                <div class="head_img">
          <img th:src="${session.loginUser.userHeadPortrait}"></div>
                <div class="big_headimg">
                    <img src="">
                </div>
                <span class="name" th:text="${session.loginUser.userName}"></span>
                <hr>
                <a class="btn" style="width: 98%;background-color: rgb(79, 190, 246);color:rgba(255, 255, 255, 1);"
                   href="">我的钱包：￥</a>
                <input type="hidden" value="" id="recharge"/>
                <input type="hidden" value="" id="withdrawals"/>
                <span class="btn" data-toggle="modal" data-target="#myModal"
                      style="width: 98%;background-color: rgb(79, 190, 246); color:rgba(255, 255, 255, 1);margin-top:0.5cm;">我的信用积分：}</span>

            </div>
            <div class="home_nav">
                <ul>
                    <a th:href="@{/oneSelf/showOneOrder}">
                        <li class="notice">
                            <div></div>
                            <span>订单中心</span>
                            <strong></strong>
                        </li>
                    </a>
                    <a th:href="@{/oneSelf/showAddress}">
                        <li class="fri">
                            <div></div>
                            <span>收货地址</span>
                            <strong></strong>
                        </li>
                    </a>
                    <a th:href="@{/oneSelf/showOnePay}">
                        <li class="store">
                            <div></div>
                            <span>充值中心</span>
                            <strong></strong>
                        </li>
                    </a>
                    <a th:href="@{/oneSelf/showHome}">
                        <li class="second">
                            <div></div>
                            <span>求购信息</span>
                            <strong></strong>
                        </li>
                    </a>
                    <a th:href="@{/oneSelf/showOneSelf}">
                        <li class="set">
                            <div></div>
                            <span>个人设置</span>
                            <strong></strong>
                        </li>
                    </a>
                </ul>
            </div>
        </div>
        <!--

            描述：右侧内容区域
        -->
        <div id="user_content">
            <div class="basic">
                <form id="fm" th:action="@{/oneSelf/updateUserInfo}" method="post" commandName="user" role="form"
                      enctype="multipart/form-data">
                    <h1>完善与修改个人信息</h1>
                    <hr/>
                    <div class="changeinfo">
                        <span>头像：</span>
                        <input class="in_info" type="file" name="user_Img"/>
                    </div>
                    <hr/>
                    <div class="changeinfo">
                        <span>昵称：</span>
                        <input class="in_info" id="userName" type="text" name="userName" th:value="${user.userName}"
                               placeholder="请输入昵称"/>
                        <span style="color: red;font-size: 22px"></span>
                    </div>
                    <hr/>
                    <div class="changeinfo">
                        <span>开通时间：</span>
                        <input class="in_info" type="text" name="userCreateDate"
                               th:value="${#dates.format(user.userCreateDate,'yyyy-MM-dd')}" readonly="true"/>
                    </div>
                    <hr/>
                    <div class="changeinfo">
                        <span>手机号码：</span>
                        <input class="in_info" id="userPhone" type="text" name="userPhone"
                               th:value="${user.userPhone}"/>
                        <span id="phoneInfo" style="color: red;font-size: 22px"></span>
                    </div>
                    <hr/>
                    <div class="changeinfo" style="width: 200px;font-size: 20px">
                        <span>性别：
                            <select id="userGender">
                            <option th:selected="${user.userGender==0}" value="0">男</option>
                            <option th:selected="${user.userGender==1}" value="1">女</option>
                        </select>
                        </span>
                    </div>
                    <input type="submit" class="setting-save" value="保存修改信息"/>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<script src="/static/js/jquery-1.10.2.js"></script>
<script>
    $(function () {
        var name = function () {
            var falg = true;
            var name = $("#userName").val();
            if (name == null || name == '') {
                $("#userName").next().text("用户名称不能为空");
                falg = false;
            } else {
                $("#userName").next().text("");
                falg = true;
            }
            return falg;
        }
        var dian = function () {
            var falg = true;
            var userPhone = $("#userPhone").val()
            var reg = /^1(3|4|5|6|7|8|9)\d{9}$/

            if (userPhone.length != 11) {
                $("#phoneInfo").text("手机号长度不正确");
                falg = false;
            } else if (!reg.test(userPhone)) {
                $("#phoneInfo").text("手机号有误");
                falg = false;
            } else {
                $("#phoneInfo").text("");
                falg = true;
            }
            return falg;
        }
        $("#userName").blur(name);

        $("#userPhone").blur(dian);

        $("#fm").submit(function () {
            if (name() == false) {
                return false;
            } else if (dian() == false) {
                return false;
            } else {
                return true;
            }
        })
    })
</script>
</html>
